* {
    transition: all .3s ease;
}

#toggle {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 20px;
    background-color: rgb(51, 51, 51);
    box-shadow: 0px 0px 6px 0px rgb(255, 255, 255);
    border-radius: 20px;
}

#darkmode {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: #ffffff4f;
    margin-left: 3px;
    top: 2.35px;
}

.gradiente {
    margin-bottom: 25px;
    margin-top: 8px;
    max-width: 500px;
    color: white !important;
    font-size: 3rem; /* Tamanho do texto */
    font-weight: bold; /* Peso da fonte */
    background: linear-gradient(to right, #e11d48, #a16207); /* Gradiente de fundo */
    -webkit-background-clip: text; /* Clipa o fundo ao texto */
    -webkit-text-fill-color: transparent; /* Faz o texto transparente */
    background-clip: text; /* Clipa o fundo ao texto */
    -webkit-text-fill-color: transparent; /* Faz o texto transparente */
}

.container-sm {
    max-width: 1048px;
}

.linhaVertical {
    width: 0px;
    height: 90px;
    margin-right: 10px;
    border: 1px solid white;
}

.icon {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 10px;
}

#menu-mobile {
    display: none;
}

@media (max-width: 767px){
    .selfie{
        display: none;
    }
}